@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

/**
 * Ionic theme for reveal.js.
 *
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #D8DCE8;
  background: -moz-radial-gradient(center, circle cover, #f7fbfc 0%, #D8DCE8 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f7fbfc), color-stop(100%, #D8DCE8));
  background: -webkit-radial-gradient(center, circle cover, #f7fbfc 0%, #D8DCE8 100%);
  background: -o-radial-gradient(center, circle cover, #f7fbfc 0%, #D8DCE8 100%);
  background: -ms-radial-gradient(center, circle cover, #f7fbfc 0%, #D8DCE8 100%);
  background: radial-gradient(center, circle cover, #f7fbfc 0%, #D8DCE8 100%);
  background-color: #D8DCE8;  
}

.reveal {
  color: #333333;
  font-weight: normal;
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
/*  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;*/
}

::selection {
  background: rgba(220, 0, 0, 0.99);
  color: #111;
  text-shadow: none; 
}

/*********************************************
 * Type
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #111;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.reveal h2 {
  margin-bottom: 32px;
}

.reveal h4 {
  font-size: 42px;
  line-height: 52px;
}

.reveal p,
.reveal li {
  color: #111;
}

.reveal li {
  padding-bottom: 12px;
}

.reveal pre {
  width: 100%;
}

.reveal pre code {
  max-height: 460px;
  word-wrap: break-word;
}

.reveal blockquote {
  padding: 25px;
  color: #111;
  display: block;
  position: relative;
  width: 70%;
  margin: 5px auto;
  padding: 25px;
  font-family: "Georgia", Cambria, "Times New Roman", Times, serif;
  font-weight: normal;
  font-style: italic;
  background: none;
  border: none;
  box-shadow: none;
}

.reveal .light-text {
  color: #CE9090;
}

/*********************************************
 * LINKS
 *********************************************/

.reveal a:not(.image) {
  color: #C40004;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; 
}

.reveal a:not(.image):hover {
  border: none;
  text-shadow: none; 
  color: #e60000;
  text-decoration: underline;
}

.reveal .roll span:after {
  background: #564826;
  color: #C40004; 
}

/*********************************************
 * IMAGES
 *********************************************/

.reveal section img {
  margin: 15px 0px;
  border: 4px solid #333333;
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

.reveal a:hover img {
  border-color: #fff;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #C40004; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #C40004; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #C40004; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #C40004; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #E60000; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #E60000; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #E60000; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #E60000; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #fff;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); 
}

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #fff; }


.reveal section img.logo {
  margin-bottom: 50px;
  border: none;
  background: none;
  box-shadow: none;
}

.reveal h5.framework-url {
  margin-top: 40px;
  color: #ddeaff;
  font-weight: 300;
}

.col {
  float: left;
  width: 50%;
}
.col.preview {
  width: 35%;;
}
.col.code {
  width: 65%;
  text-align: left;
}
.col.code > * {
  margin-left: 40px;
}

.fme-logo {
	float:left;
    margin-top: 35px !important;
    margin-left: 35px !important;
}

.reveal img.noborder {
	border:none;
	box-shadow:none;
	background:none;
}
.reveal pre {
    box-shadow: none;
}